.toplinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}

nav {
    display: block;
    background-color: rgb(84, 113, 81);
    justify-content: center;
}

nav a:link, nav a:visited {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: nowrap;

}

.facts > ul {
    display:block;
    text-decoration: none;
    background-color: rgb(84, 113, 81);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    margin-left: 0;
    width: 100%;
    background: linear-gradient(rgb(148, 168, 146), rgb(84, 113, 98), rgb(148, 158, 147))
}

main {
    display: block;
    text-align: center;
}


body {
    background-color: hsl(120, 20%, 70%);
}


h1{
    display: flex;
    text-decoration: none;
    background-color: hsl(120, 20%, 70%);
    justify-content: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    margin: 20px;
}

#title {
        animation: 4s anim-flipX ease infinite;
      }
      @keyframes anim-flipX {
        0% {
          opacity: 0;
          transform: rotateX(90def);
        }
        50% {
          opacity: 1;
          transform: rotateX(720deg);
        }
        100% {
          opacity: 1;
          transform: rotateX(720deg);
        }
      }
    }      


.quote {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-style: italic;
    font-size: 22px;
}

.bookcover {
    border: 13px solid white;
}

.facts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 25px;
    width: 100%;
}

.facts > p {
    padding: 30px;
    font-size: 16px;
    font-family: 'Allerta Stencil', sans-serif;
    border: 4px solid rgb(84, 113, 81);
    width: 100%;
    background-color: rgb(84, 113, 81);
    font-size: 28px;
}

h2 {
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.facts > ul > li {
    padding: 10px;
    width: 100%;
}

p > ul {
    width: 100%;
}



.testimonials {
    display: flex;
    justify-content: space-between;
}

h3 {
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.shroom {
    width: 80px;
    padding: 40px;
}

.cub {
    width: 60%;
    padding: 20px;
    font-size: 22px;
    justify-content: center;
    background: linear-gradient(rgb(148, 168, 146), rgb(84, 113, 98), rgb(148, 158, 147))
}

.lost {
    width: 60%;
    font-size: 22px;
    padding: 20px;
    background: linear-gradient(rgb(148, 168, 146), rgb(84, 113, 98), rgb(148, 158, 147))
}

