ul {
    display:flex;
    text-decoration: none;
    background-color: rgb(84, 113, 81);
    justify-content: space-evenly;
    color: white;
    padding: 20px;
}

h1{
  display: flex;
  text-decoration: none;
  background-color: hsl(120, 20%, 70%);
justify-content: center;
font-family: 'Allerta Stencil', sans-serif;
font-size: x-large;
text-transform: uppercase;
margin: 20px;
}

body {
    background-color: hsl(120, 20%, 70%);
}

main {
    display: block;
    text-align: center;
}

.quote {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-style: italic;
    font-size: 22px;
}

.bookcover {
    border: 13px solid white;
}

.facts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 25px;
    width: 100%;
}

.facts > p {
    padding: 30px;
    font-size: 16px;
    font-family: 'Allerta Stencil', sans-serif;
    border: 4px solid rgb(84, 113, 81);
    width: 100%;
}

h2 {
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

li {
    padding: 10px;
    width: 100%;
}

p > ul {
    width: 100%;
}



.testimonials {
    display: flex;
    justify-content: space-between;
}

h3 {
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.shroom {
    width: 80px;
    padding: 40px;
}

.cub {
    width: 60%;
    padding: 20px;
    justify-content: center;
}

.lost {
    width: 60%;
    padding: 20px;
}